*{
    padding: 0;
    margin: 0;
}
.tudo{
    margin-top:10px;
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(215, 206, 206);
    
}

.navegacao nav a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    padding-right: 118px;
    cursor: pointer;
    transition: 0.1s;
    
    
}
.navegacao nav :hover{
    color: rgb(244, 77, 77);
    transition:  0.5s;
}