
 *{
    padding: 0;
    margin: 0;
 } 

.logo1 {
    text-align: center;
   margin-top: -440px;
   color: rgb(255, 255, 255);
   font-size: 40px;
   margin-right: 745px;
  }
  
  
  
  .inscreva{
    text-align: center;
    margin-right: 756px;
    margin-top: 50px;
  }
  .inscreva button{
    padding: 7px 35px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 19px;
  }
  .inscreva button:hover{
    background-color: gold;
    transition: 0.5s;
  }
  .ft{
    margin-left: 900px;
    margin-top: -265px;
   
  }
  .logoo{
    height: 400px;
  } 
  
    
  
  
  