
*{
  padding: 0;
  margin: 0;
}

header{
  background-color:#5AB8C2 ;
  padding: 10px;
  margin-top: 60px;
  margin-right:120px;
  margin-left: 120px;
  padding: 300px 0;
  box-shadow: 4px 4px 10px rgb(90, 90, 90);
  border-radius: 9px;  
}

.tudo{
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: -260px;

}

.menu nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 50px;
  font-size: 20px;
 
  
}
.menu nav a:hover{
  color: rgb(32, 127, 244);

  transition: s;
}
img{
  
  height: 90px;
  padding-right: 500px;
  margin-top: -30px;
}
.but button{
  padding: 2px 12px; 
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  font-size: 14px;
  margin-top: 1.5px;
  border-radius: 5px;
  
}

.but button:hover {
 background-color: rgb(255, 191, 0);
 box-shadow: 1px 2px 2px rgb(122, 122, 122) ;
 transition: 0.5s;

}
body{
  background-color: #426a6f ;
  
}
.linha{
  background-color: rgb(255, 255, 255);
  padding: 2px;
  margin-top: 15px;
  margin-left: 55px;
  margin-right: 55px;
}









            






.logo1 {
  text-align: center;
 margin-top: -440px;
 color: rgb(255, 255, 255);
 font-size: 40px;
 margin-right: 745px;
}



.inscreva{
  text-align: center;
  margin-right: 756px;
  margin-top: 50px;
}
.inscreva button{
  padding: 7px 35px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 19px;
}
.inscreva button:hover{
  background-color: gold;
  transition: 0.5s;
}
.ft{
  margin-left: 999px;
  margin-top: -250px;
 
}
.logoo{
  height: 400px;
} 

  
}