*{
  padding: 0;
  margin: 0;
}

header{
  background-color: rgba(13, 13, 232, 0.804);
  padding: 10px;
}

.tudo{
  text-align: center;
  justify-content: center;
  display: flex;
}

.menu nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 50px;
  font-size: 20px;
 
  
}
h1{
  color: rgb(255, 255, 255);
  padding-right: 500px;
  margin-top: -10px;
}
.but button{
  padding: 2px 12px; 
  background-color: gold;
  border: none;
  font-size: 14px;
  margin-top: 1.5px;
  border-radius: 5px;
  
}

.but button:hover {
 background-color: rgb(255, 191, 0);
 border: 1px solid firebrick;
 transition: 0.5s;

}

