
*{
    padding: 0;
    margin: 0;
  }
  .fundo{
    text-align: center;
    justify-content: center;
    display: flex;
  }
  header{
    background-color: #0047AB;
    padding: 5px;
  }
  .menu nav a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-right: 100px;
   
    
  }
  .logo {
    color: aliceblue;
    
    
    
   
  }
  .menu{
    width: 59%;
    
  }
  .but{
    width: 20%;
   
  }
  
  .but button{
    padding: 4px 15px;
    background-color: hsl(51, 100%, 50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    ;
  
    
    
  }
  .menu nav a :hover{
    
    color: hsl(51, 100%, 50%);
  }
  
  .but  a {
    color: rgb(249, 252, 255);
    text-decoration: none;
    font-size: 25px;
    padding-right: 20px;
  }
  .but a :hover{
    color: hsl(51, 100%, 50%);
   
  }
  